<div class="row">
  <div class="mx-auto col-md-8 grid-margin stretch-card">
    <div class="card">
      <app-css-loader class="ms-3 my-3" *ngIf="loading"></app-css-loader>
      <ng-container *ngIf="!loading">
        <div class="card-header d-flex justify-content-between align-items-center">
          {{task.name}}
          <button type="button" class="btn btn-primary btn-icon-text" (click)="openModal()">
            <i class="feather icon-plus btn-icon-prepend"></i>
            Add Updates
          </button>
        </div>
        <div class="card-body">
          <div [innerHTML]="task.details"></div>
          <hr >

          <div class="row" *ngIf="taskNotes.length">
            <div class="col-md-12">
              <ul class="timeline">
                <li class="event" *ngFor="let notes of taskNotes" [attr.data-date]="notes.updated_at | date:'short'">
                  <h3 class="title">{{notes.description}}</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>


<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Confirm User Deletion</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close" [disabled]="addNoteSubmitLoading"></button>
  </div>
  <div class="modal-body">
    <form class="forms-sample" [formGroup]="addNotesForm" (ngSubmit)="submitForm()" *ngIf="!loading">
      <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Task Update</label>
        <input type="text" class="form-control" id="exampleInputUsername1"
               autocomplete="off" placeholder="Post something regarding this task..." formControlName="details"
               [ngClass]="{'is-invalid': formProcessed && form.details.errors}">
        <div *ngIf="formProcessed && form.details.errors?.required" class="invalid-feedback">
          Required
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')" [disabled]="addNoteSubmitLoading">Close</button>
    <button type="button" class="btn btn-primary" (click)="submitForm()" *ngIf="!addNoteSubmitLoading">
      <i class="feather icon-align-left btn-icon-prepend me-1"></i>
      Add Details
    </button>
    <button class="btn btn-primary" type="button" disabled *ngIf="addNoteSubmitLoading">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Saving Details..
    </button>
  </div>
</ng-template>
