<div class="row mb-3">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">products Records | <span class="text-muted">Select Date Range</span></h6>
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="getData()">
              <div class="input-group me-3">
                <input class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate"
                       name="dp" ngbDatepicker #d="ngbDatepicker">
                <button class="input-group-text" type="button" (click)="d.toggle()">
                  <i class="feather icon-calendar icon-md text-muted"></i>
                </button>
              </div>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" formControlName="endDate"
                       name="dp" ngbDatepicker #e="ngbDatepicker">
                <button class="input-group-text" type="button" (click)="e.toggle()">
                  <i class="feather icon-calendar icon-md text-muted"></i>
                </button>
              </div>
              <button type="submit" class="ms-3 btn btn-primary btn-icon-text">
                <i class="feather icon-search btn-icon-prepend"></i>
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-css-loader *ngIf="showData && loading"></app-css-loader>
<div class="row" *ngIf="showData && !loading">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Date Wise products List</h6>
        <ng-container *ngIf="!products.length && !loading">
          <div class="h-100 w-100 d-flex align-items-center justify-content-center">
            <h3 class="mb-3 mb-md-0 text-muted">
              <i class="feather icon-tag me-1"></i>
              No products records found!
            </h3>
          </div>
        </ng-container>
        <div class="table-responsive" *ngIf="products && products.length">
          <ng-container *ngIf="!products.length && !loading">
            <div class="h-100 w-100 d-flex align-items-center justify-content-center">
              <h3 class="mb-3 mb-md-0 text-muted">
                <i class="feather icon-tag me-1"></i>
                No products found!
              </h3>
            </div>
          </ng-container>
          <div class="table-responsive" *ngIf="products && products.length">
            <ngx-datatable
              class="bootstrap"
              [rows]="filteredData"
              [columnMode]="ColumnMode.force"
              [footerHeight]="50"
              [limit]="10"
              rowHeight="auto"
            >
              <ngx-datatable-column name="#" prop="id"></ngx-datatable-column>
              <ngx-datatable-column name="Product Name" prop="ProductName"></ngx-datatable-column>
              <ngx-datatable-column name="Brand" prop="BrandName"></ngx-datatable-column>
              <ngx-datatable-column name="Image" prop="customer_name">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <img [src]="row.ProductImage" [alt]="row.ProductName">
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Total Amount">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.total | currency }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status">
                <ng-template ngx-datatable-cell-template let-row="row">
                <span class="custom-cell bg-primary fs-6 px-2 py-1 rounded" [ngClass]="{'bg-danger': row.status == 0,'bg-success': row.status == 1}">
                  {{ row.status ? 'Active' : 'Disabled' }}
                </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
