<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Roles Management</h6>
        <app-css-loader *ngIf="!userRoles"></app-css-loader>
        <div class="table-responsive"  *ngIf="userRoles && userRoles.length">
          <input type="text" [(ngModel)]="searchText" (input)="filterData()" placeholder="Search" class="searchBox" />

          <ngx-datatable
            class="bootstrap"
            [rows]="filteredData"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
          >
            <ngx-datatable-column name="#" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Role Name" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Action">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <a [routerLink]="['add-user']" [queryParams]="{'edit': row.id}" class="btn btn-icon">
                  <i class="feather icon-edit-3 text-primary"></i>
                </a>
                <button type="button" class="btn btn-icon" (click)="deleteRole(row)">
                  <i class="feather icon-trash-2 text-danger"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Modal body</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Save changes</button>
  </div>
</ng-template>
<!-- Close result -->
<p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>
