<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Roles Management</h6>
        <div class="spinner-border" role="status" *ngIf="!userRoles">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="table-responsive"  *ngIf="userRoles && userRoles.length">
          <table id="dataTableExample" class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Role Name</th>
              <th>Permissions</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of userRoles">
              <td>{{role.id}}</td>
              <td>{{role.name}}</td>
              <td>
                <span class="bg-primary me-2 px-2 py-2 text-white" *ngFor="let permission of role.permissions">
                  {{getPermission(permission.name)}}
                </span>
              </td>
              <td>
                <button type="button" class="btn btn-icon">
                  <i class="feather icon-edit-3"></i>
                </button>
                <button type="button" class="btn btn-icon">
                  <i class="feather icon-trash-2"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
