<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">My Orders History</h4>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <div class="w-100 d-flex justify-content-between">
          <span>Users Subscription</span>
          <span class="badge bg-danger">Unpaid</span>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">
          <span>Order ID# 2</span>
          <span class="fs- text-muted">2023-07-28</span>
        </h5>
        <p class="card-text mb-3">
          <b>Total Amount:</b> <span class="text-muted ms-2">$10.00</span>
        </p>
        <button type="button" class="btn btn-outline-info btn-icon-text me-2">
          <i class="feather icon-dollar-sign btn-icon-prepend"></i>
          Pay Invoice
        </button>
        <button type="button" class="btn btn-outline-primary btn-icon-text">
          <i class="feather icon-eye btn-icon-prepend"></i>
          View Details
        </button>
      </div>
    </div>
  </div>
</div>
