<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">My Expenses</h6>
        <app-css-loader *ngIf="!expenses.length && loading"></app-css-loader>
        <ng-container *ngIf="!expenses.length && !loading">
          <div class="h-100 w-100 d-flex align-items-center justify-content-center">
            <h3 class="mb-3 mb-md-0 text-muted">
              <i class="feather icon-dollar-sign me-1"></i>
              No expense history found!
            </h3>
          </div>
        </ng-container>
        <div class="table-responsive" *ngIf="expenses && expenses.length">

          <input type="text" [(ngModel)]="searchText" (input)="filterData()" placeholder="Search" class="searchBox" />

          <ngx-datatable
            class="bootstrap"
            [rows]="filteredData"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
          >
            <ngx-datatable-column name="#" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Title" prop="notes"></ngx-datatable-column>
            <ngx-datatable-column name="Date" prop="created_at"></ngx-datatable-column>
            <ngx-datatable-column name="Action">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <a [routerLink]="['expense',row.id]" class="btn btn-icon">
                  <i class="feather icon-eye text-primary"></i>
                </a>
                <button type="button" class="btn btn-icon" (click)="delAccType(row.id)">
                  <i class="feather icon-trash-2 text-danger"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this expense entry?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')" [disabled]="deleteLoading">Close</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()" *ngIf="!deleteLoading">
      <i class="feather icon-trash-2 btn-icon-prepend me-1"></i>
      Delete Expense
    </button>
    <button class="btn btn-danger" type="button" disabled *ngIf="deleteLoading">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Deleting Expense..
    </button>
  </div>
</ng-template>
