:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-side-wrapper img{
  width: 299px;
  height: 373px;
}
.logo{
  float: right;
  margin-top: -25px;
}
.logo img{
  height: 60px;
}
