<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Roles Management</h6>
        <a routerLink="add">AdDd Role</a>
        <div class="spinner-border" role="status" *ngIf="!userRoles">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="table-responsive"  *ngIf="userRoles && userRoles.length">
          <table id="dataTableExample" class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Role Name</th>
                <th>Permissions</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of userRoles; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{role.name}}</td>
                  <td>
                    <span class="badge bg-primary me-1" *ngFor="let permission of role.permissions">
                       {{getPermission(permission.name)}}
                    </span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-icon">
                      <i class="feather icon-edit-3"></i>
                    </button>
                    <button type="button" class="btn btn-icon">
                      <i class="feather icon-trash-2"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
