<div class="row">
  <div class="mx-auto col-md-8 grid-margin stretch-card">
    <div class="card">
      <app-css-loader class="ms-3 my-3" *ngIf="loading"></app-css-loader>
      <ng-container *ngIf="!loading">
        <div class="card-header">
          Salary Details
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Service</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Status</td>
                <td><a href="" (click)="false" class="badge bg-primary">{{salary.status}}</a></td>
              </tr>
              <tr>
                <td>Payment Frequency</td>
                <td>{{salary.payment_frequency}}</td>
              </tr>
              <tr>
                <td>Basic Salary</td>
                <td>{{salary.basic_salaray | currency}}</td>
              </tr>
              <tr>
                <td>Hourly Rate</td>
                <td>{{salary.hourly_rate | currency}}</td>
              </tr>
              <tr>
                <td>Working Hour</td>
                <td>{{salary.working_hour}}</td>
              </tr>
              <tr>
                <td>Pending Withdraw</td>
                <td>{{salary.pending_withdrew | currency}}</td>
              </tr>
              <tr>
                <td>Withdraw Balance</td>
                <td>{{salary.withdrew_balance | currency}}</td>
              </tr>
              <tr>
                <td>Account Balance</td>
                <td>{{salary.account_balance | currency}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
