<div class="row">
  <div class="mx-auto col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">{{isEditMode ? 'Edit Meeting Details' : 'Add a Meeting'}}</h6>
        <app-css-loader *ngIf="loading && isEditMode"></app-css-loader>
        <form class="forms-sample" [formGroup]="addMeetingForm" (ngSubmit)="submitForm()" *ngIf="!loading">
          <div class="mb-3">
            <label for="title" class="form-label">Meeting Title</label>
            <input type="text" class="form-control" id="title"
                   autocomplete="off" placeholder="Title" formControlName="title"
                   [ngClass]="{'is-invalid': formProcessed && form.title.errors && formProcessed}">
            <div *ngIf="formProcessed && form.title.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>
          <div class="mb-3">
            <label for="platform" class="form-label">Platform</label>
            <select class="form-select" id="platform" formControlName="platform"
                    [ngClass]="{'is-invalid': formProcessed && form.platform.errors && formProcessed}">
              <option value selected>Select platform</option>
              <option *ngFor="let platform of platforms" [value]="platform">{{platform}}</option>
            </select>
            <div *ngIf="formProcessed && form.platform.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Meeting Link</label>
            <input type="text" class="form-control" id="link"
                   autocomplete="off" placeholder="Link" formControlName="link"
                   [ngClass]="{'is-invalid': formProcessed && form.link.errors && formProcessed}">
            <div *ngIf="formProcessed && form.link.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Meeting Description</label>
            <textarea class="form-control" id="description" rows="5" formControlName="description"></textarea>
            <div *ngIf="formProcessed && form.description.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Date & Time</label>
            <div class="row">
              <div class="input-group col-md-6">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp"  ngbDatepicker #d="ngbDatepicker" formControlName="date">
                <button class="input-group-text" type="button" (click)="d.toggle()">
                  <i class="feather icon-calendar icon-md text-muted"></i>
                </button>
                <div *ngIf="formProcessed && form.date.errors?.required" class="invalid-feedback">
                  Required
                </div>
              </div>
              <div class="col-md-6">
                <ngb-timepicker [meridian]="true" formControlName="time"></ngb-timepicker>
              </div>
              <div *ngIf="formProcessed && form.time.errors?.required" class="invalid-feedback">
                Required
              </div>
            </div>
          </div>
          <app-loading-button
            [isLoading]="loadingBtn"
            [btnText]="'Save Meeting'"
            [loadingText]="'Saving...'"
            [btnIcon]="'plus'">
          </app-loading-button>
          <a routerLink="../" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
