<div class="row">
  <div class="mx-auto col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">{{isEditMode ? 'Edit Account Details' : 'Introduce New Account'}}</h6>
        <app-css-loader *ngIf="loading && isEditMode"></app-css-loader>
        <form class="forms-sample" [formGroup]="addAccTypeForm" (ngSubmit)="submitForm()" *ngIf="!loading">
          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">Account Type</label>
            <input type="text" class="form-control" id="exampleInputUsername1"
                   autocomplete="off" placeholder="Name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="exampleInputUsername3" class="form-label">Status</label>
            <select class="form-select" id="exampleInputUsername3" formControlName="status"
                    [ngClass]="{'is-invalid': formProcessed && form.status.errors && formProcessed}">
              <option value="Active" [selected]="form.status.value == 'Active'">Active</option>
              <option value="Disable" [selected]="form.status.value == 'Disable'">Disable</option>
            </select>
            <div *ngIf="formProcessed && form.status.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>
          <app-loading-button
            [isLoading]="loadingBtn"
            [btnText]="isEditMode ? 'Update Account Type' : 'Save Account Type'"
            [loadingText]="isEditMode ? 'Updating...' : 'Saving...'"
            [btnIcon]="isEditMode ? 'edit' : 'check-square'">
          </app-loading-button>
          <a routerLink="../" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
