<app-popup></app-popup>

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">{{translate('Welcome to')}} {{userType}} Dashboard</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap d-none">
    <div class="input-group wd-200 me-2 mb-2 mb-md-0">
      <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
        <i data-feather="calendar" appFeatherIcon></i>
      </button>
      <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
    </div>
    <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
      Print
    </button>
    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
      Download Report
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <ng-container *ngFor="let box of topBoxes">
        <div class="col-md-2 grid-margin stretch-card" *ngIf="box.show">
          <div class="card" *ngIf="box.show">
            <div class="card-body">
              <div class="align-items-center d-flex flex-column justify-content-center">
                <h6 class="card-title mb-2">{{translate(box.title)}}</h6>
                <i class="feather fs-1" [ngClass]="'icon-'+box.icon"></i>
                <h3 class="mt-2" *ngIf="box.title != 'Total Sales'">{{box.numbers}}</h3>
                <h3 class="mt-2" *ngIf="box.title == 'Total Sales'">{{box.numbers | currency}}</h3>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">Revenue</h6>
        </div>
        <div class="row align-items-start">
          <div class="col-md-7">
            <p class="text-muted tx-13 mb-3 mb-md-0">Revenue is the income that a business has from its normal business activities, usually from the sale of goods and services to customers.</p>
          </div>
        </div>
        <div class="flot-wrapper">
          <apx-chart
            [series]="revenueChartOptions.series"
            [chart]="revenueChartOptions.chart"
            [colors]="revenueChartOptions.colors"
            [grid]="revenueChartOptions.grid"
            [xaxis]="revenueChartOptions.xaxis"
            [yaxis]="revenueChartOptions.yaxis"
            [markers]="revenueChartOptions.markers"
            [stroke]="revenueChartOptions.stroke"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
