<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">News & Announcements</h6>
        <app-css-loader *ngIf="!news.length"></app-css-loader>
        <div class="table-responsive" *ngIf="news && news.length">

          <input type="text" [(ngModel)]="searchText" (input)="filterData()" placeholder="Search" class="searchBox" />

          <ngx-datatable
            class="bootstrap"
            [rows]="filteredData"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
          >
            <ngx-datatable-column name="#" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Title">
              <ng-template ngx-datatable-cell-template let-row="row">
                <a [routerLink]="['../', row.slug]">
                  <div class="d-flex align-items-center">
                    {{ row.title }}
                  </div>
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Views">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span>
                  <i class="feather icon-eye me-1"></i>
                  {{ row.total_view }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
            <ngx-datatable-column name="Action">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <a [routerLink]="['../', row.slug]" class="btn btn-outline-primary">
                  <i class="feather icon-link"></i>
                  Visit
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
