<div class="row">
  <div class="mx-auto col-md-8 grid-margin stretch-card">
    <div class="card">
      <app-css-loader class="ms-3 my-3" *ngIf="loading"></app-css-loader>
      <ng-container *ngIf="!loading">
        <div class="card-header">
          {{news.title}}
        </div>
        <div class="card-body">
          <div [innerHTML]="news.description"></div>
          <hr *ngIf="news.postImage">
          <a [href]="news.postImage" target="_blank" class="btn btn-primary btn-icon-text" *ngIf="news.postImage">
            <i class="feather icon-download-cloud btn-icon-prepend"></i>
            Download Attachment
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
